body {
    margin: 0;
    background-color: #8BA4C4;   
    font-family: 'Karla', sans-serif
  }

main{
    margin:10px;
}

/* Styles for the navigation menu */
.nav--menu {
  background-color: #8BA4C4;
  display: flex;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.nav--menu li {
  display: inline-block;
}

.nav--menu a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 20px;
}

.nav--menu a:hover {
  background-color: #5C7FAB;
}

.nav--menu-item.active {
  background-color: #5C7FAB;
}